<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hufan.yger">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ew"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".acitivitys.MainActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".acitivitys.Input"
            android:label="信息输入"></activity>
        <activity android:name=".acitivitys.SetUrl"
            android:label="设置路径"></activity>
        <activity android:name=".acitivitys.SetJqh"
            android:label="设置机器号"></activity>
        <activity android:name=".acitivitys.Scan"
            android:label="扫描"></activity>
        <activity android:name=".acitivitys.CXStatic"
            android:label="查询"></activity>
    </application>

</manifest>